/* Container for the entire application */
.App-container {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
}

/* Navigation bar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-weight: bold;
    font-size: 50px;
    color: #004d99;
}

/* Navigation links */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 10px ;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    padding: 5px 0;
}

/* Highlight for the active link */
.navbar a.active {
    color: #004d99;
    border-bottom: 2px solid #004d99;
}

.main-content {
    padding: 20px;
}

.auth-buttons {
    margin-left: auto; /* Pushes the buttons to the right */
}

.sign-in-btn, .sign-out-btn {
    padding: 8px 16px;
    border: 1px solid #004d99;
    background-color: transparent;
    color: #004d99;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.sign-in-btn:hover, .sign-out-btn:hover {
    background-color: #004d99;
    color: #fff;
}